@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MaPolice';
    src: url('../assets/font/MaPolice.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
